@charset "UTF-8";

h1 {
  font-size: 1em;
  font-family: "Noto Sans KR", dotum, sans-serif;
}

header {
  display: block;
}

#hd {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 990;
  background-color: transparent;
}

.original_header {
  position: fixed;
  color:#000;
  background-color: transparent;
  width: 100%;
  height: 80px;
  top: 0;
}

.change_header {
  position: fixed;
  color:#000;
  background-color: #fff;
  width: 100%;
  height: 80px;
  top: 0;
  border-bottom: 1px solid #EBEBEB;
}

#hd .headerWrap {
  position: relative;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  transition: all 0.3s ease-in-out;
}

#hd .headerWrap .left {
  display: flex;
  align-items: center;
}

#hd .headerWrap .left .logo a {
  width: 182px;
  height: 40px;
  background: url(../assets/images/logo.svg) no-repeat center center;
  background-size: contain;
  text-indent: -9999px;
  display: inline-block;
}

#hd .headerWrap .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#hd .headerWrap .right .mbBox {
  position: relative;
}

#hd .headerWrap .right .mbBox::after {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  content: "";
  display: block;
}

#hd .headerWrap .right .mbBox > a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
  margin-right: 25px;
}

#hd .headerWrap .right > .btnSearch {
  display: inline-block;
  width: 21px;
  height: 20px;
  background: url(../assets/images/ico_search_w.svg) no-repeat center center;
  background-size: contain;
  text-indent: -9999px;
  margin-left: 40px;
  transition: all 0.1s ease-in-out;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", dotum, sans-serif;
  font-size: 1em;
  vertical-align: middle;
}
